{% extends "BasePage.html" %}
{% load static %}
{% block title %}HEALTHCARE{% endblock %}
{% block more-style %}
<link rel="stylesheet" href="{% static 'CSS/Healthcare/HealthcareMain.css' %}">

{% endblock %}
{% block content %} 
<div class="body">
    <div class="wrapper">
        <a href="{% url 'Hospital' %}" class="box">Hospital</a>
        <a href="{% url 'Diagnostic' %}" class="box">Diagnostic Center</a>
        <a href="{% url 'Clinic' %}" class="box">Clinic</a>
        <a href="{% url 'Eyeclinic' %}" class="box">Eye Clinic</a>
        <a href="{% url 'Pharmacy' %}" class="box">Pharmacy</a>
    </div>
</div>
{% endblock %}
















