<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Are U</title>
    {% load static %}
    <link rel="stylesheet" href="{%static '/CSS/PrankPage/prank.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
{% block content %}

    <div class="wrapper">
        <i class="fa-solid fa-circle-question"></i>
        <h2 class="question">মনের প্রজেক্ট বড় প্রজেক্ট</h2>
        <div class="btn-group">
            <form action="" method="POST">
                {% csrf_token %}
                <button name="button_name" value="new_page" class="yes-btn">ঠিক ঠিক</button>
            </form>
            <button class="no-btn">ভুল</button>
        </div>
    </div>




    <script src="{%static '/JAVASCRIPT/PrankPage/prank.js' %}"></script>
    {% endblock %}
</body>

</html>