{% extends "BasePage.html" %}
{% load static %}
{% block title %}HEALTHCARE{% endblock %}
{% block more-style %}
<link rel="stylesheet" href="{% static 'CSS/Healthcare/HealthcareMain.css' %}">
<link rel="stylesheet" href="https://fonts.google.com/specimen/Martian+Mono/tester?preview.text=public&preview.text_type=custom" crossorigin="anonymous"> 
{% endblock %}
{% block content %} 
<div class="body">
    <div class="wrapper">
        <a href="{% url 'EyeclinicAppointmentPage' %}" class="box">National Institute of Ophthalmology</a>
        <a href="{% url 'EyeclinicAppointmentPage' %}" class="box">Rajshahi Eye Hospital</a>
        <a href="{% url 'EyeclinicAppointmentPage' %}" class="box">Mymensingh Eye Hospital</a>
        <a href="{% url 'EyeclinicAppointmentPage' %}" class="box">Khulna BNSB Eye Hospital</a>
        <a href="{% url 'EyeclinicAppointmentPage' %}" class="box">Rangpur Eye Hospital</a>
        <a href="{% url 'EyeclinicAppointmentPage' %}" class="box">Sylhet Osmani Medical Hospital</a>
    </div>
</div>
{% endblock %}